html{
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: TWK Lausanne;
}

body {
/*min-height: 100vh;*/
background-color: black;
overflow-x: hidden;
width:100%;
display: grid;
place-items: center;

}



.introduction {
  column-count: 4;
  margin-top: 550px;
  padding: 70px;
    transform: translateX(-100%);
  animation: fadeInAndSlide 1.5s forwards;
}

.introduction p {
  color: white;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;

}



.header {
  position: fixed;
  top: -100px; /* Start off-screen */
  left: 40px;
  width: 60%;
  padding: 10px 30px;
  background: linear-gradient(rgba(255, 248, 248, 0.1), rgba(0, 0, 0, 0.1));
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(10px);
  border: 0.5px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  z-index: 100;
  animation: slideInFromTop 1s ease forwards; /* Apply animation */
}

@keyframes slideInFromTop {
  from {
    top: -100px; /* Start position */
  }
  to {
    top: 30px; /* End position */
  }
}

/*
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 5%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  );
  transition: 0.5s;
}
*/
.header:hover::before {
  left: 95%;
}

.logo {                            
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  font-weight: 300;
  letter-spacing:-0.5px;
  cursor: default;
    transition: 0.3s;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.8); /* Add an outer glow effect */
}

.navbar a {
  color: #fff;
  font-size: 11px;
  font-weight: 300;
  text-decoration: none;
  margin-left: 35px;
  transition: 0.3s;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.8); /* Add an outer glow effect */
}

.navbar a:hover {
  color: #f00;
}

#menu-icon {
  font-size: 36px;
  color: #fff;
  display: none;
}

/* BREAKPOINTS */
@media (max-width: 992px) {
  .header {
    padding: 1.25rem 4%;
  }
}

@media (max-width: 768px) {
  #menu-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 0.5rem 4%;
    display: none;
  }

  .navbar.active {
    display: block;
  }

  .navbar a {
    display: block;
    margin: 1.5rem 0;

  }

  .nav-bg {
    position: fixed;
    top: 110px;
    left: 0;
    width: 65%;
    height: 150px;
    background: rgba(255, 255, 255, 0.02);
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    z-index: 99;
    display: none;
  }

  .nav-bg.active {
    display: block;
  }
}


.solarbigtext {
  position: absolute;
  top: 130px;
  left: 70px;
  margin-top: 10px;
  text-shadow: 0px 0px 21px #ffffff;
  font-family: 'TWK Lausanne';
  font-weight: 450;
  color: #ffffff;
  font-size: 10vw;
  letter-spacing: -0.06em;
  line-height: 0.8em;
  opacity: 0;
  transform: translateX(-100%);
  animation: fadeInAndSlide 1.7s forwards;
}

@keyframes fadeInAndSlide {
  0% {
    opacity: 0;
    transform: translateX(-40%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 600px) {
  .solarbigtext {
    left: 0.5em; /* Adjust the left value for smaller screens */
      font-size: 16vw;
  }

  .accordion-container{
   width: 60%;
  }

  .introduction {
  column-count: 2;
  margin-top: 500px;
  padding: 70px;
}



}


.earthside {
  position: absolute;
  top: 20%; /* Set the initial position to 20% of the viewport height */
  right: 10px; /* Set the initial horizontal position */
   z-index: -1; /* Set a negative z-index to position it behind other elements */

}

.earthside img {
  position: absolute;
  margin-top: -80px;
  margin-bottom: -80px;
  right: -600px; 
  width: 1400px;
  height: auto;
}

.galaxy {
  position: absolute;
  top: 20%; /* Set the initial position to 20% of the viewport height */
  left: 100px; /* Set the initial horizontal position */
   z-index: -1; /* Set a negative z-index to position it behind other elements */

}

.galaxy img {
  position: absolute;
  margin-top: -80px;
  margin-left: 30px; 
  width: 1000px;
  height: auto;
  transform: rotate(-20deg); /* Adjust the angle as needed */
}






