* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.parent-container {
  position: relative; /* Ensure the parent has a positioning context */
}




.v95_187 {
  width: 100%;
  height: 1024px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
@keyframes rotateInPlace {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.main-navigation {
  top: 10px;
  left: 40px;
  display: flex;
  width: 659px;
  height: 42px;
  align-items: center;
  justify-content: space-between;
  padding: 11px 34.07px 11px 21.07px;
  position: relative;
/*  background-color: rgba(255, 255, 255, 1);
  border-radius: 1px;
  border: 1.11px solid;
  border-color: transparent;
  background: linear-gradient(180deg, rgba(15.79, 15.54, 15.54, 0.7) 19.5%, rgba(67.7, 67.7, 67.7, 0.5) 100%);*/
}

.main-navigation .frame {
  display: inline-flex;
  align-items: center;
  gap: 22.18px;
  position: relative;
  flex: 0 0 auto;
}

.main-navigation .group {
  position: relative;
  width: 14.42px;
  height: 14.42px;
}

.main-navigation .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1.11px;
  text-shadow: 0px 0px 3.33px #ffffff;
  font-family: "TWK Lausanne-300", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 15.5px;
  text-align: center;
  letter-spacing: -0.93px;
  line-height: normal;
  white-space: nowrap;
}

.main-navigation .div {
  display: flex;
  width: 435.88px;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 30.51px;
  position: relative;
}

.main-navigation .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1.11px;
  text-shadow: 0px 0px 4.44px #ffffff;
  mix-blend-mode: screen;
  font-family: "TWK Lausanne-300", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 11.1px;
  letter-spacing: -0.33px;
  line-height: normal;
  white-space: nowrap;
}


.v95_188 {
  width: 100%;
  height: 100%;
  background: url("images/v95_188.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 200px;
  left: 660px;
  overflow: hidden;
  animation: rotateInPlace 40s infinite linear;
}

@keyframes breathing {
  0%, 100% {
    transform: rotate(-23deg) scale(1.3);
  }
  50% {
    transform: rotate(-23deg) scale(1.35);
  }
}

.v95_189 {
  width: 100%;
  height: 1500px;
  background: url("images/v95_189.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 257px;
  overflow: hidden;
  animation: breathing 6s infinite ease-in-out;
}
.v95_190 {
  width: 315px;
  color: rgba(255,236,236,1);
  position: absolute;
  top: 620px;
  left: 52px;
  font-family: Neue Montreal;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v95_191 {
  width: 315px;
  color: rgba(255,236,236,1);
  position: absolute;
  top: 620px;
  left: 387px;
  font-family: Neue Montreal;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v95_192 {
  width: 323px;
  color: rgba(255,236,236,1);
  position: absolute;
  top: 620px;
  left: 730px;
  font-family: Neue Montreal;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v95_193 {
  width: 323px;
  color: rgba(255,236,236,1);
  position: absolute;
  top: 620px;
  left: 1073px;
  font-family: Neue Montreal;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}




.v95_194 {
  width: 706px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 84px;
  left: 40px; /* Start off-screen to the left */
  text-shadow: 0px 0px 21px rgba(1, 0.970263659954071, 0.970263659954071, 1);
  font-family: TWK Lausanne;
  font-weight: 400;
  font-size: 180px;
  letter-spacing: -10px;
  line-height: 0.8;
  opacity: 0; /* Start with 0 opacity */
  text-align: left;
  text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.7);
  animation: fadeInAndSlide 1.5s forwards; /* Adjust the duration as needed */
}

@keyframes fadeInAndSlide {
  0% {
    opacity: 0;
    transform: translateX(-70%); /* Move off-screen to the left */
  }
  100% {
    opacity: 1;
    transform: translateX(0); /* Move in from the left */
  }
}

.v95_200 {
  width: 666px;
  height: 30px;
  background: linear-gradient(to bottom right, rgba(255, 248, 248, 0.2), rgba(255, 255, 255, 0.06));
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 387px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
}
.v95_201 {
  width: 67px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 35px;
  left: 403px;
  font-family: TWK Lausanne;
  font-weight: 300;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v95_202 {
  width: 67px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 35px;
  left: 477px;
  font-family: TWK Lausanne;
  font-weight: 300;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v95_203 {
  width: 67px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 35px;
  left: 541px;
  font-family: TWK Lausanne;
  font-weight: 300;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v95_208 {
  width: 19px;
  height: 19px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 1024px;
  border-radius: 50%;
}
.v95_204 {
  width: 186px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 29px;
  left: 639px;
  font-family: TWK Lausanne;
  font-weight: 450;
  font-size: 16px;
  letter-spacing: -0.3px;
  opacity: 1;
  text-align: center;
}
